@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Libre+Baskerville&family=Lobster&display=swap");
:root {
  --pink: #f58b42;
  --pink-light: #faf4f4;
  --gray: #c7c1b9;
  --blue: #323148;
  --blue-light: #464463;
}

a {
  color: inherit;
  text-decoration: none;
}
button,
input,
select,
textarea,
a {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-style: normal;
  scroll-behavior: smooth;
  list-style: none;
}
/* general classes */
.spinner {
  display: block;
  width: 60px;
  height: 60px;
  border-left: 2px solid var(--pink);
  border-radius: 50%;
  animation: spinner 0.3s linear infinite;
}
.spinner.sm {
  width: 30px;
  height: 30px;
}
.spinner.xsm {
  width: 20px;
  height: 20px;
}
.spinner.stop {
  display: none;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.opacity {
  animation: opacity 1s linear;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.capitalize {
  text-transform: capitalize;
}
.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}
.gray {
  border: 1px solid gray;
}
.c-blue {
  color: #323148;
}
.layout {
  max-width: 1440px;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}
.display {
  display: none;
}
.minvh {
  min-height: 100%;
}
.trans {
  transition: all 0.3s linear;
}
.f {
  display: flex;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.align {
  align-items: center;
}
.j-around {
  justify-content: space-around;
}
.j-between {
  justify-content: space-between;
}
.fcenter {
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .display {
    display: block;
  }
}
