@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pink: #f58b42;
  --pink-light: #faf4f4;
  --pink-dark: #ce5f30;
  --gray: #c7c1b9;
  --blue: #323148;
  --blue-light: #464463;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea,
a {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-optical-sizing: auto;
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wdth" 100;
  -webkit-tap-highlight-color: transparent;
}

/* spinner  */
.spinner {
  display: block;
  width: 60px;
  height: 60px;
  border-left: 2px solid var(--pink);
  border-radius: 50%;
  animation: spinner 0.3s linear infinite;
}
.spinner.sm {
  width: 30px;
  height: 30px;
}
.spinner.xsm {
  width: 20px;
  height: 20px;
}
.spinner.stop {
  display: none;
}

/* button */
.shoptacle-btn-blue,
.shoptacle-btn-pink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s linear;
}

.shoptacle-btn-blue:disabled,
.shoptacle-btn-pink:disabled {
  background-color: #dee2e6;
  color: #6c757d;
  cursor: not-allowed;
}

.shoptacle-btn-blue:active:not(:disabled),
.shoptacle-btn-pink:active:not(:disabled) {
  transform: scale(0.95);
}

.shoptacle-btn-pink:hover:not(:disabled) {
  background: var(--pink-dark);
}
.shoptacle-btn-blue:hover:not(:disabled) {
  background: var(--blue-light);
}

.shoptacle-btn-pink {
  background: var(--pink);
}
.shoptacle-btn-blue {
  background: var(--blue);
}

.shoptacle-btn-pink:hover {
  transform: scale(1.05);
}
.shoptacle-btn-blue:hover {
  transform: scale(1.05);
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.opacity {
  animation: opacity 1s linear;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* general classes */
.capitalize {
  text-transform: capitalize;
}
.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}
.green {
  border: 1px solid green;
}
.c-blue {
  color: #323148;
}
.layout {
  max-width: 1440px;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}
.display {
  display: none;
}
.minvh {
  min-height: 100%;
}
.trans {
  transition: all 0.3s linear;
}
.f {
  display: flex;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.align {
  align-items: center;
}
.j-around {
  justify-content: space-around;
}
.j-between {
  justify-content: space-between;
}
.fcenter {
  justify-content: center;
  align-items: center;
}

.line_clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line_clamp.clamp5 {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
.line_clamp.clamp1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.hide__scroll__bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-track-color: transparent;
}

.hide__scroll__bar::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

@media screen and (min-width: 768px) {
  .display {
    display: block;
  }
}
